.products .product {
  background-color: #fff;
  border: 2px solid #f6f6f6;
}
.products .product:hover {
  border: 2px solid #FDB518;
}
.products .product .image {
  text-align: center;
  min-width: 250px;
  min-height: 250px;
}
.products .product .image a {
  display: block;
}
.products .product .image img {
  max-height: 250px;
}
.products .product .title {

}
.products .product .title a {
  display: inline-block;
  padding-top: 15px;
  height: 65px;
  overflow: hidden;
}
.products .product .title .type-name {
  display: block;
  color: #666;
  font-size: 0.7em;
}
.products .product .price-scope {
  margin-top: 15px;
}
.products .product .price-scope .price {
  font-size: 1.5em;
}
.products .product .price-scope .currency {
  font-size: 0.7em;
  color: #666;
}
.products .product .btn {
  display: inline-block;
  padding: 5px;
  text-align: center;
  color: #cec9c9;
  font-size: 1.4em;
}
.products .product .btn:hover {
  color: #dc9316;
}
.products .product .buy-button {
  display: inline-block;
  padding: 5px;
  color: #fff;
  background-color: #fdb518;
  border-radius: 8px;
  text-align: center;
}
.products .product .buy-button:hover {
  color: black;
  background-color: #FFCC66;
}