*, *::before, *::after {
  box-sizing: border-box;
}
button:focus, input:focus {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.inline {
  display: flex;
}
a {
  color: black;
  text-decoration: none;
}
body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: 'Play', sans-serif;
  color: black;
}
header {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .search input {
  border: 2px solid #FDB518;
  border-radius: 4px;
  padding: 0 45px 0 15px;
  font-size: 16px;
  height: 44px;
  line-height: 40px;
  width: 100%;
  font-family: 'Play', sans-serif;
}
header .info ul {
  margin-bottom: 15px;
}
header .info li {
  padding-left: 10px;
  padding-right: 10px;
}
header .info li:first-child {
  padding-left: 0;
}
header .info .link {
  font-size: 0.9em;
  text-decoration: underline;
}
header .info .link:hover {
  text-decoration: none;
}
header .user-actions {
  display: flex;
}
header .user-actions a {
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  font-size: 2.5em;
}
nav {
  background: #fff;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
nav li {
  flex-grow: 1;
  display: flex;
}
nav a {
  text-decoration: none;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 1.1em;
}
nav a:hover {
  background-color: #FDB518;
}
.content {
  margin-top: 20px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }